.Footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }

.GitHubIcon{
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 560px){
    .Footer{
        height: auto;
        flex-wrap: wrap;
        padding: 0.5rem;
    }
}