.Conditional{

}

.Conditional input[type='email'] {
    /* removendo a margin-bottom do input email recebida no css do Formulário "FormDados" */
    margin-bottom: 0px;
}

.Conditional p{

}

/* Start InputBlocked quando o input e-mail estiver bloqueado */
.InputBlocked{
    background-color: black;
}
/* End InputBlocked */

.EmailWrited{

}

/* Start button "Enviar"  */
.ConditionalSubmit{

}

.ConditionalSubmit span {

  }

.ConditionalSubmit span:hover{

}

.ConditionalSubmit span:not(hover) {

  }
/* End button "Enviar"  */

/* Start button "Limpar e-mail" */
.ConditionalClear{

}

.ConditionalClear span{

}

.ConditionalClear:hover span{

}

.ConditionalClear::before, .ConditionalClear::after{

}

.ConditionalClear::before{

}

.ConditionalClear:hover::before {

   }
/* End button "Limpar e-mail */

/* Start media screen */
@media screen and (max-width: 620px){
    .Conditional{
    grid-column-start: 1;
    margin: 0 10%;
    }
}

@media screen and (min-width: 621px) and (max-width: 968px){
    .Conditional{
        grid-column-start: 1;
        margin: 0 25%;
    }
}
/* End media screen */