.Forms{
    display: flex;
    width: 100%;
    height: -webkit-fill-available;
    padding: 0 0 1rem 0;
    margin-top: 5%;
    margin-bottom: 7%;
    justify-content: space-evenly;
}

@media screen and (max-width: 460px){
    .Forms{
        flex-wrap: wrap;
    }
}