.Forms{
    display: flex;
    margin-top: 5%;
    margin-bottom: 7%;
    justify-content: center;
}

.FormsSection{
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px){
    .FormsSection{
        width: 80%;
        flex-wrap: wrap;
        height: 80vh;
    }
}